.aboutSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 60px 20px;
  background-color: #f8f9fa;
  height: 100dvh;
}

.aboutSection h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #333;
}

.aboutSection p {
  max-width: 600px;
  margin: 0 auto;
  font-size: 1.2rem;
  color: #555;
}
